    <% layout('layouts/boilerplate') %> 
    <h1>jelou</h1>
    <a href="/spots/new">Create spot</a>
    <ul>
        <% for(let spot of spots){ %>
            <li><a href="spots/<%= spot._id %> "><%= spot.title %> </a></li>
            <% } %> 
    </ul>
