<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>jelou</h1>
    <a href="/spots/new">Create spot</a>
    <ul>
        <% for(let spot of spots){ %>
            <li><a href="spots/<%= spot._id %> "><%= spot.title %> </a></li>
            <% } %> 
    </ul>
</body>
</html>